:host{
    color:white;
}

.card {
	width: 100%;
	color: #000;
	.card-img-top {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 200px;
	}

	&.virtual {
		background-color: #ccc;
	}
}